
body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik' sans-serif;
    background-color:#eef0f4 ;
    display: flex;
    justify-content: center;
    

}
.container {
    min-width: 320PX;
 max-width: 100%; 
    height: 100%;
    display: flex;
  margin: 30PX;
    flex-direction: column;
    
  
    padding-bottom: 217px; 
    
}

input {
    color: #432000;
    background-color: #dce1eb;
    border: none;
    outline: none;
   
    font-size: 20px;
    padding: 15px ;
    
   
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-family: 'Rubik' sans-serif;
    margin: 10px 0 0;
    font-family: 'Rubik' sans-serif;

}

button {
    background-color: #ac485a;
    color: #fdfdfd;
   margin: 10px 0 ;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Rubik' sans-serif;
 transition: 0.1s ease-in-out; 
}
button:active{
  opacity: 0.7;
}

img {
    height: 135px;
    width: 165PX;
    margin: 0 auto;
    
}

ul {
  display: Flex; 
  padding: 0;
  gap: 8px; 
  
  flex-wrap: wrap-reverse;
 
}
li {
  list-style: none; 
  padding-top: 5px; 
  padding-right:25px;
  font-family: 'Rubik' sans-serif;
  
}
span {
  font-size: 13px; 
  margin-left: 5px; 
  color: red; 
  display: none; 
}


 .note{
background-color: #fffdf8; 
  width: fit-content;
  padding: 15px 0px 1px 25px;
 
  border-radius: 8px; 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
 }

.note p{
  font-size: 10px;
  
  
text-align: right;
margin: 10px 0 0;
padding: 0;
margin-right: 5px; 
color :#808080;
 font-family: 'Rubik' sans-serif;
}


b{
  font-family: Arial, Helvetica, sans-serif;
  
  
}

.user{
  display: Flex; 
  width: fit-content; 
  
  align-items: center; 
}

.verified {
  height: 15px; 
  width: 15px; 
 display: none;
  margin-left: 3px; 
}



 /* Styles for screens 700px or more */
@media screen and (min-width: 900px) {
  .container {
    width: 60%;
  }
}
